"*":
  editor:
    invisibles: {}
  core:
    themes: [
      "atom-light-ui"
      "solarized-light-syntax"
    ]
    autoHideMenuBar: true
  "exception-reporting":
    userId: "7509e0d8-cd02-e0b7-d108-3f4273de8ecb"
  welcome:
    showOnStartup: false
